snippet msi "Module Selector Init" b
import _ from 'lodash';
import { createSelector } from 'reselect';

const get${1:Module}State = state => _.get(state, '${1/\w+/\l$0/g}', {});

export const get${2:Property} = createSelector(
	get$1State,
	state => state.${2/\w+/\l$0/g},
);

endsnippet
