snippet reducer "Reducer Function" b
const reducer = (state = {}, action) => {
	switch(action.type) {
		case ${1:SOME_ACTION}:
			return {
				...state
				$0
			};
		default:
			return state;
	}
}

export default reducer;
endsnippet

snippet cati "Reducer Case Action Type with immer" b
case types.${1:SOME_ACTION}:
	draft.${2:someAction} = action.$2;
	return;
$0
endsnippet
