snippet wpph "Description" b
/**
 * Plugin Name:  ${1:WordPress Plugin}
 * Plugin URI:   https://github.com/juandaco
 * Description:  ${2:Simple Plugin}
 * Version:      0.0.1
 * Author:       juandaco
 * Author URI:   https://juandaco.github.io/portfolio
 * License:      GPL2
 * License URI:  https://www.gnu.org/licenses/gpl-2.0.html
 * Text Domain:  ${3:imecre}
 */
endsnippet
