# Font
font-family = "InconsolataGo Nerd Font Mono"
font-size = 16

# Theme
theme = GruvboxDarkHard

# Cursor
cursor-style = block
cursor-style-blink = true
shell-integration-features = no-cursor,no-sudo,title

# Custom Window Setup
initial-window = false
quick-terminal-animation-duration = 0
macos-option-as-alt = true

# Keybindings
keybind = global:alt+space=toggle_quick_terminal
keybind = ctrl+m=text:\x0d
keybind = ctrl+i=text:\x09
keybind = ctrl+[=text:\x1b

# vim: ft=toml
